.navbar {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background: #2d5b2d;
  height: 56px;
}

.app-menu {
  position: fixed;
  bottom: 1.2rem;
  left: 33%;
  width: 33%;
  background: #48b04c;
  height: 50px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
  font-weight: bold;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1.75rem;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.48);
  z-index: 10;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 4% 0 5%;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
}

.navbar_logo {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.navbar_logo a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
}

.spacer {
  flex: 1;
}

.navbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_navigation-items li {
  padding: 0.5rem 0.5rem 0.5rem;
}

.navbar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.app-nav a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.navbar_navigation-items a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
  background-color: whitesmoke;
  color: rgb(75, 75, 75);
}

@media all and (max-width: 410px) {
  .navbar_navigation-items ul li {
    display: none;
  }
  .navbar_navigation-items a:active {
    background-color: whitesmoke;
    color: rgb(75, 75, 75);
  }
}

@media (max-width: 799px) {
  .navbar_navigation-items ul li {
    display: none;
  }
  .navbar_navigation-items {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
}

@media (min-width: 799px) {
  .navbar_toggle-button {
    display: none;
  }
  .toolbar_logo {
    margin: 0;
  }
  .app-menu {
    display: none;
  }
}
