.side-drawer {
  width: 100%;
  height: 100%;
  background: #48b04c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  font-weight: bold;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.side-drawer a:visited {
  color: white;
}

#closer {
  position: fixed;
  bottom: 2rem;
  left: 33%;
  width: 33%;
  height: 50px;
  padding: 1rem;
  font-weight: bold;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.48);
  z-index: 300;
}
